// This stylesheet is closely based on VS Code's "Quiet Light" theme and VS Code's "Dark+" theme.

pre.source-lf {
  overflow-x: auto;
  font-size: 0.8rem;

  [class*=keyword] {
    color: #4b69c6;
    font-weight: bold;
  }

  [class*=keyword-control],
  [class*=storage-modifier] {
    color: #4b69c6;
  }

  [class*=keyword-operator],
  [class*=constant-character-escape],
  [class*=punctuation] {
    color: #777777;
  }

  [class*=comment] {
    color: #aaaaaa;
  }

  [class*=constant],
  [class*=variable-language] {
    color: #307041;
  }

  [class*=entity-name-function],
  [class*=function-builtin],
  [class*=function-call-generic] {
    color: #57a5c9;
    font-weight: bold;
  }

  [class*=entity-name-type],
  [class*=entity-name-scope-resolution],
  [class*=storage-type] {
    color: #308c48;
    font-weight: bold;
  }

  [class*=keyword-operator-new] {
    color: #777777;
  }

  [class*=string] {
    color: #69b64b;
  }

  [class*=variable] {
    color: #0034df;
  }

  // For LF highlighting, dark and light colors are given as variables
  // defined in main.scss. Unfortunately, it seems this has to be repeated
  // anyway below within the dark theme.
  [class*=keyword-control-lflang],        // target, reaction
  [class*=keyword-control-import-lflang], // import, not in target code
  [class*=keyword-operator-new-lflang],   // new, not in target code
  [class*=storage-modifier-lflang] {      // input, output, etc.
    color: var(--lf-keyword);
    font-weight: bold;
  }
}

.dark-theme pre.source-lf {
  [class*=keyword] {
    color: #6f87ff;
    font-weight: bold;
  }

  [class*=storage-modifier],
  [class*=constant-language] {
    color: #6f87ff;
  }

  [class*=keyword-operator],
  [class*=constant-character-escape],
  [class*=punctuation] {
    color: #D4D4D4;
  }

  [class*=comment] {
    color: #6A9955;
  }

  [class*=constant-numeric],
  [class*=variable-language] {
    color: #B5CEA8;
  }

  [class*=entity-name-function],
  [class*=function-builtin],
  [class*=function-call-generic] {
    color: #d1d169;
    font-weight: normal;
  }

  [class*=entity-name-type],
  [class*=entity-name-scope-resolution],
  [class*=storage-type] {
    color: #4EC9B0;
    font-weight: normal;
  }

  [class*=keyword-operator-new] {
    color: #569CD6;
  }

  [class*=string] {
    color: #69b64b;
  }

  [class*=variable] {
    color: #9CDCFE;
  }

  // Repeated from above.
  [class*=keyword-control-lflang],        // target, reaction
  [class*=keyword-control-import-lflang], // import, not in target code
  [class*=keyword-operator-new-lflang],   // new, not in target code
  [class*=storage-modifier-lflang] {      // input, output, etc.
    color: var(--lf-keyword);
    font-weight: bold;
  }
}
