// The CSS Vars live in main.scss

// Lingua Franca specific:
// Too glaring: $lf-gold-dark: rgb(247, 148, 30);
$lf-gold-light: rgb(247, 148, 30);
$lf-gold-dark: rgb(196, 130, 14);
$lf-gold-light-light: #FDB515;
$lf-gold-dark-dark: rgb(136, 90, 11);
$lf-gold-dark-dark-dark: rgb(92, 62, 8);

// General:
$lf-main-blue-color: #3c7a9b;
$lf-main-blue-lighter-color: #3B7EA1;
$lf-main-blue-lightest-color: #a8baf3;  // FIXME: This color is chosen ad-hoc.

$lf-dark-barely-red-highlight: #2a2828;

$lf-light-bg: #fdfcfb;
$lf-light-bg-20: #fdfcfb20;
$lf-light-bg-grey: #eeeeee;
$lf-light-bg-grey-highlight-color: #f2f2f2;

$lf-dark-bg-color: #181818;
$lf-dark-bg-for-foreground-color: #202020;
$lf-bg-selection-grey: #4d4c4c;

$lf-muted-red: #c63131;
$lf-muted-green: #086f56;
$lf-muted-purple: #4e086f;

$screen-xs: 480px;
$font-code: var(--code-font);

// Small screen / tablet
$screen-sm: 800px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 900px;
$screen-md-min: $screen-md;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);

$z-index-for-search: 100;
$z-index-for-site-nav: 101;
$z-index-for-handbook-nav: 99;
$z-index-for-handbook-nav-button: 100;
