name: Deploy WordPress to GKE

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: 'projects/304935835827/locations/global/workloadIdentityPools/github-pool/providers/github-provider'
          service_account: 'github-deployer@project-cea37556-bc1e-4fd1-801.iam.gserviceaccount.com'

      - name: Get GKE credentials
        uses: google-github-actions/get-gke-credentials@v2
        with:
          cluster_name: frankfurt-cluster
          location: europe-west3-c

      - name: Deploy with Helm
        run: |
          helm repo add bitnami https://charts.bitnami.com/bitnami
          helm repo update
          helm upgrade --install wp-release bitnami/wordpress -f k8s/values.yaml
